body {
	background-color: #D2cec4;
	padding: 0;
    margin: 0;
    max-width: 767px;
    margin: 0 auto;
}

header {
	background-color: #3d321e;
	padding: 5px 0;
	display: flex;
	align-items:center;
    justify-content:center;
    border-radius: 10px;
}

header img {
	width: 80px;
    height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
}

.headings h1 {
	font-size: 2em;
    margin: 0 0 0 17px;
    font-family:'Kaushan Script','Open Sans','Arial';
    color: #ffffff
}

header,
nav,
main,
footer, 
{
	max-width: 767px;
    margin: 0 auto;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
    overflow: hidden;
    display: flex; 
    border-radius: 10px;
    text-align: center;
    justify-content: space-evenly;

}

nav ul li { 
    flex: 1 1 100%; 
    list-style-type: none;
}

nav {
    background-color: #4dc1cc;
    font-family: 'open sans', 'arial';
    color: #000000;
    font-size: 15px;
    text-align: center;
    box-shadow: 0 2px 15px #19495b;
    border-radius: 10px;
}
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #3d321e;
}

nav li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}

.m {
	font-style: italic;
	letter-spacing: 1pt;
	color: #f7c96f;
	margin-left: 20px;
    font-size: .9rem;
    font-family: 'Open Sans','Arial';
}
main section {
    background-color: #f7c96f;
    border-radius: 10px;
    padding: 1rem;
    margin: 5px;
}
h2 {
	font-size: 1.75em;
    margin: 0 0 0 17px;
    font-family:'Kaushan Script','Open Sans','Arial';
    color: #19495b;
    text-align: center;
}

h3 {
	font-size: 1.125em;
    margin: 0 0 0 17px;
    font-family:'Open Sans','Arial';
    color: #19495b;
    text-align: center;
}

p {
	font-size: 1em;
    font-family: 'Open Sans','Arial';
    color: #000000;
}

footer{
    background-color: #3d321e;
	padding: 10px;
	display: flex;
	align-items:center;
    justify-content:center;
    font-size: .75em;
    max-width: 800px;
    margin: auto;
    flex: 0 1 100%;
    height: 2em;
    border-radius: 10px;
}

nav a:hover {
	background-color: #D2cec4;
	color: #3d321e;
}
.active {
	color: #f7c96f;
}
}

/* Larger viewports */
@media only screen and (min-width: 750px) {
	header img {
        width: 100%;
        border-radius: 10px;
	}

	.headings h1 {
		font-size: 3em;
    }
    
    body{
        font-size: 100%;
    }

	.m {
		letter-spacing: 1.5pt;
		font-size: larger;
		margin-left: 17px;
    }

    nav a {
        background-color: transparent;
        display: flex;
        align-content: center;
        justify-content: space-evenly;
        list-style-type: none;
        font-size: 1.1em;
        }
    
    .headings {
            display: flex;
            flex-direction: row;
        }

    nav ul {
        display: flex; 
        flex-direction: row;

@media only screen and (min-width: 37.5em) {
    nav ul { 
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
            }