@media only screen and (min-width: 65em) {

    main,
    footer {
        font-size: 1rem;
        width: 100%;
        max-width: 800px;
    }

    
    .navigation li a {
        padding: 0.6rem;
        font-size: 0.8rem;
    }

     .headings h1{
        font-size: 2.5em;
        display: inline-block;
    }
    
    .m {
        letter-spacing: 1.5pt;
        font-size: larger;
        display: inline-block;
        flex-direction: row;
    }

    nav a {
        background-color: transparent;
        display: flex;
        align-content: center;
        justify-content: space-evenly;
        list-style-type: none;
        font-size: 1.1em;
        }

    .headings {
        display: flex;
        }

    nav ul {
        display: flex; 
        flex-direction: row;
    }
    
    header {
        background-color: #3d321e;
        padding: 5px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row;
    }
    header img {
        height: auto;
        border-radius: 10px;
        margin: 0 2%;
        width: 100px;
     

    }
}

