@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
	font-size: 14px;
	margin: 10px auto;
	font-family: 'Original Surfer', cursive;
}
em {
	font-size: smaller;
}

form{
    line-height: 2;
}

label{
    padding: 5px;
	font-family: 'Original Surfer', cursive;
}

.container {
	display: grid;
	grid-gap: .5rem;
	align-items: center;
	width: 400px;
}

input,
button,
select,
textarea {
	padding: 0.5rem;
	margin-bottom: .25rem;
}

input:focus {
	box-shadow: 0 0 10px #ccc;
}
fieldset {
	background-color: #eee;
	border: 1px solid #ccc;
	width: 60%;
	margin: auto;
}
legend {
    font-family: 'Kaushan Script', 'script','Arial';
    font-size: 1.5em;
    color: #3d321e;
}

input[type="button"] {
	color: blue;
}
input[type="button"]:hover {
	background-color: #ffffff;
}

input:invalid {
	background-color: #ffffff;
	color: #000;
}
input:valid {
	background-color: #ffffff;
	color: #000;
}

.flexly {
	display: flex;
	align-items: center;
}

#ratingvalue {
	margin: 0 15px;
}

