body {
	font-size: 16px;
    font-family: "Sansita", Arial, sans-serif;
	color: #536878
}

header,footer {
  background-color: #3d321e ;
  color: #536878;
  border-radius: 10px;
  max-width: 767px;
  text-align: center;
}

section h2 {
    background-color: #3d321e;
    color: #536878;
    position: relative;
    top: -20px;
    padding: 10px 15px 10px;
	border-radius: 10px;
	text-align: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

/* phone or baseline views **************************/
main {
	max-width: 767px;
	margin: 0 auto;
}
h2, h3 {
    color: #536878;
	font-family: 'Dancing Script', Arial, sans-serif;
	text-align: center;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}

main section {
	margin: 0.5rem;
	border: 1px solid #D2cec4;
	padding: 0 1rem;
    background-color: #D2cec4;
    border-radius: 10px
}
section:nth-child(2) {
	display: none;
	margin: 0.5rem;
}
.colimage {
	box-shadow: 0 0 30px #333;
}

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	main {
		grid-template-columns: 1fr 1fr;
	}

	section:nth-child(2) {
		display: block;
	}

	section:nth-child(3) {
		grid-column: span 2;
	}

	main picture {
		display: block;
	}
	main section picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}

	section:nth-child(3) {
		grid-column: span 1;
	}
}
